


 *{
 background-color: aqua;
 }

 
 /*.whole{
     display: flex;
     justify-content: space-between;
 }*/
 .list{
    display:flex;
    justify-content:space-between;
 }
 .footer{
    
     justify-content: flex-end;
 }



 
 
                
            